@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Virgin Media</h1>

<br />
<br />
Please navigate to
<NavLink class="text-primary fw-bold" href="/sales">
    Sales Report
</NavLink>
page to view the sales details.